/**
* ownCloud importer app
*
* @author Xavier Beurois
* @copyright 2012 Xavier Beurois www.djazz-lab.net
* @extended Frederik Orellana, 2013
*
* This library is free software; you can redistribute it and/or
* modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
* License as published by the Free Software Foundation; either
* version 3 of the License, or any later version.
*
* This library is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU AFFERO GENERAL PUBLIC LICENSE for more details.
*
* You should have received a copy of the GNU Lesser General Public
* License along with this library.  If not, see <http://www.gnu.org/licenses/>.
*
*/

.titleblock{min-width:720px;}
.titleblock a{font-weight:bold;}
.titleblock .dlbtn{clear:right;float:right;margin-top: 4px;}

#content.app-importer {
    margin-top: 30px;
    min-width: 972px;
}

.container>.row>.col-sm-9 {
	overflow-x: auto;
	overflow-y: hidden;
}
	
@media (min-width:720px) and (max-width: 1100px) {
	.container>.row>.col-md-offset-2 {
		margin-left: 25%;
		width: 74%
	}
}

div.dlbtn button.ui-button-text-only .ui-button-text {
	padding: 4px;
}

#importer{min-width:920px;margin:0.8em 0 0 0.3em;}
#importer div.clear{clear:both;}
#importer div.personalblock.bottomblock{margin-bottom:1em;}
#importer div.personalblock{margin:1em 0.0em 0 0;padding:0.5em 1em;position:relative;background: none repeat scroll 0 0 #F8F8F8;border-radius:2px;color:#555555;border:1px solid #DDDDDD;top: 0px !important;left: 0px !important;}
#importer #folder_pop, #importer #save_pop{margin:1em 0.7em 0 0;position:relative;background: none repeat scroll 0 0 #F8F8F8;border-radius:2px;color:#555555;border:1px solid #DDDDDD;top: 0px !important;left: 0px !important;}
#importer div#folder_pop, #importer div#save_pop{background: none repeat scroll 0 0 #dddddd;}
#importer div.personalblock.red{background-color: #FA5858;border:0 none;text-shadow:none;}
#importer div#dllist div.elts{margin:10px 0 10px 0;}
#folder_pop div.elts{margin:0 0 10px 0;}
#folder_pop{width:740px;height:34px;}
#importer div#dllist div.elts input.url{width:/*520px*/58%;margin:4px 0 0 5px;height:14px;}
#folder_pop div.elts span.urlc input.url{width:360px;margin:4px 0 0 5px;height:14px;}
#folder_pop div.elts span.load button{margin:2px 2px 6px 2px;}
#save_pop div.elts span.urlc input.url{width:260px;margin:4px 10px 0 5px;height:14px;}
#importer div#dllist div.elts span.dling{float:right;padding:0.5em 0 0 0.8em;display:inline;position:absolute;width:160px;height:32px;font-size:0.75em;}
#dllist div.elts span.dling{float:right;padding:0.8em 0 0 0.8em;display:inline;position:absolute;width:200px;height:28px;font-size:0.75em;}
#importer div#dllist div.elts span.dling img, div div.elts span.dling img{padding:4px 0 0 0;vertical-align:middle;}
#importer div#dllist div.elts span.dling img.eltdelete, #folder_pop div.elts span.dling img.eltdelete{cursor:pointer;}
#importer div#dllist div.elts span.dling iframe, #folder_pop div.elts span.dling iframe{float:right;width:100%;height:100%;}
#importer div#dllist div.elts select.chzen-select{min-width:110px;}
#folder_pop div.elts select.chzen-select{min-width:110px;}
#importer div#dllist div.elts .chzn-container, div div.elts .chzn-container{float:left;padding:0.5em 0.5em 0 0;min-width:115px;}
#user_groups_move_select+.chzn-container{padding:0.5em 0.15em 0 0;min-width:115px;vertical-align:top;}
.urlc .importer_choose_download_folder {margin-bottom:1px;}
div.chzn-container a.chzn-single{border-radius:2px;	height: 24px;line-height: 22px;}
div.chzn-container div.chzn-drop{border-radius:2px;}
ul.chzn-results{margin:0;padding:0;}
#importer div#dllist div.elts span.urlc, div div.elts span.urlc{padding:0 0;}
#importer div#hiddentpl{display:none;}
#importer div#divhisto table{width:100%;}
#importer div#divhisto table th{font-weight:bold;}
#importer div#divhisto table td{border-top:1px solid #DDD;}
#importer div#divhisto table td,#importer div#divhisto table th{text-align:center;}
#importer div#divhisto table th.col1, #importer div#divhisto table td.col1{width:60%;border-right:1px solid #DDD;padding:4px 4px 0 0;text-align:left;}
#importer div#divhisto table th.col2, #importer div#divhisto table td.col2{width:20%;border-right:1px solid #DDD;padding:4px 4px 0 0;}
#importer div#divhisto table th.col3, #importer div#divhisto table td.col3{width:20%;padding:4px 4px 0 0;}
div#folder_pop{position:relative;display:none;padding:0 0.6em 2.6em 0.6em;}
div#save_pop{width:550px;height:38px;}
div#save_pop{position:relative;display:none;}
button#clear_history{bottom: 1.3px;height:24px;font-size:11px;font-weight:normal;clear:right;float:right;padding: 3px 8px 8px;}
button#save_list{height:24px;font-size:11px;font-weight:normal;padding: 4px 8px 8px;margin: 0 6px 4px 2px;}
button.addelt{height:26px;vertical-align:middle;padding: 2px 4px 4px 5px;;margin:0 0 4px 8px;}
button.eltdelete{height:28px;vertical-align:middle;padding: 2px 4px 4px 5px;margin:0 0 4px 8px;}
div#chosen_file{display:none;}
.importer-delete{cursor:pointer;}
#toggle_history{cursor:pointer;}


/* from http://jsfiddle.net/skimberk1/TUPG7/ */
.slider-frame {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	margin: 8px 0 0 0;
	vertical-align: top;
	width: 58px;
	height: 20px;
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#ffffff));
	background-image: -webkit-linear-gradient(#f8f8f8, #ffffff);
	background-image: -moz-linear-gradient(#f8f8f8, #ffffff);
	background-image: -o-linear-gradient(top, #f8f8f8, #ffffff);
	background-image: -khtml-gradient(linear, left top, left bottom, from(#f8f8f8), to(#ffffff));
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#2b2b2b', EndColorStr='#404040', GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#2b2b2b', EndColorStr='#404040', GradientType=0))";
	border-top: 1px solid #333333;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #333333;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: inset 0px 1px 8px 0 rgba(0, 0, 0, 0.25);
	-moz-box-shadow: inset 0px 1px 8px 0 rgba(0, 0, 0, 0.25);
	box-shadow: inset 0px 1px 8px 0 rgba(0, 0, 0, 0.25);
}
.slider-frame .slider-button {
	display: block;
	margin: 0;
	padding: 0;
	width: 40px;
	height: 18px;
	line-height: 18px;
	background: #bbb;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #70430e;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	color: #fff;
	font-family:Helvetica;
	font-size:11px;
	font-weight: bold;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	text-align: center;
	cursor: pointer;
}
.slider-frame .slider-button.on {
	margin-left: 15.8px;
	background: #86B404;
	border: 1px solid #bbbbbb;
}
.slider-frame .slider-button:before {
	position: absolute;
	display: block;
	margin: 0;
	padding: 0;
	width: 43px;
	height: 12px;
	background: rgba(255, 255, 255, 0.25);
	content: '';
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.slider-check {
	display:none;
}
/*******/
